:root {

/* правила для цветовой гаммы */

  --color-primary: #162745;
  --color-primary-animation: #0e2d63;
  --color-secondary: #000000;
  --color-background: #ffffff;

/* основные правила для геометрии */

  --border-radius-main: 35px; 
  --border-radius-secondary: 50px;

/* Шрифты */
--font-header: Bezier_Sans;
--font-main: Century_Gothic;

/* Размеры */

--font-size-large: 7.4vw;
--font-size-large-but-smaller:7vw;
--font-size-main: 1.4vw;
--font-size-small: 1vw;

--px20: 1.6vw;
--px15:1.2vw;
--px80: 6vw;

}

@font-face {
  font-family: "Bezier_Sans";
  src: url("../fonts/Bézier-Sans™_variable.woff"), format("woff"); 
}

@font-face {
  font-family: "Century_Gothic";
  src: url("../fonts/GOTHIC.woff"), format("woff"); 
}


body {
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: var(--font-size-main);
}

p{
  margin:0;
}

main{
  /* max-width: 960px; */
  margin: 0 20px 0 20px;
  padding: var(--px20);
  display: flex;
  flex-direction: column;

}


nav {
  display: flex; 
  
  /* max-width: 960px; */
  margin: 20px auto 0 auto;
  /* margin-left: auto;
  margin-right: auto; */
  justify-content: center;
  padding: 5px 0;
  border: 2px solid var(--color-primary);
  border-radius: var(--border-radius-main);
  /* font-size: var(--font-size-small); */
}

nav a {
  text-decoration: none;
  color: var(--color-secondary);
  margin: 0 15px;
  padding: 5px 10px;

  font-size: 100%;
  line-height: 85%;
  height: 85%;

/* для анимки */
  position: relative;

}


/* все дальше для анимки */
nav a::after{
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: block;
  height: 1.2px;
  background: var(--color-primary);
  width: 0;
  transition: 0.3s;

}
 
/* анимка при наведении */
nav a:hover::after {
  width: 90%;
}

 .titles {
  display: flex;
  flex-direction: column;
}

h1{
  font-family: var(--font-header);
  color: var(--color-primary);

  margin: 25px 0 0 0;
  padding: 0;
  line-height: 80%;
  height: 80%;


}

.mainpagetitle h1{
  font-size: var(--font-size-large);
  align-self: flex-start;
}
.pagestitles{
  align-items: center;
}

.pagestitles h1{
  font-size: var(--font-size-large-but-smaller);
  /* align-self: center; */
}