

.back-button {
margin-top: 20px;
padding: 10px 20px;
background-color: #4CAF50;
color: white;
border: none;
cursor: pointer;
border-radius: 5px;
}
.back-button:hover{
background-color: #45a049;
}

.semester-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.generate-button {
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
   border-radius: 5px;
   margin: 0 10px;
}
.generate-button:hover{
background-color: var(--color-primary-animation);
}

#semester-variants{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.variant-container{
  display: flex;
  flex-direction: column;
   align-items: center;
   width: 100%;
   border: 1px solid var(--color-secondary);
  padding: 10px;
  border-radius: 8px;
      margin-bottom: 20px;
}
.theme-container{
 display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
      margin-bottom: 10px;
}
.subtheme-list {
  list-style: none;
  padding: 0;
   display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
   width: 100%;
}
.task-item {
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid var(--color-secondary);
   border-radius: 8px;
  background-color: var(--color-background);
  text-align: left;
  display: flex;
flex-direction: column;
  align-items: center;
  width: 90%;
}
.task-image {
  transform: scale(0.9);
  max-width: 99%;
margin-bottom: 10px;
}
.answer-input {
  padding: 8px;
  margin: 5px 0;
  border: 1px solid var(--color-secondary);
   border-radius: 5px;
}
#submit-semester-button {
      padding: 10px 20px;
      background-color: var(--color-primary);
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
       margin: 20px 0;
}
#submit-semester-button:hover {
  background-color: var(--color-primary-animation);
}
.result-message {
  margin-top: 10px;
  font-weight: bold;
}
.result-message.correct {
  color: green;
}
.result-message.incorrect {
  color: red;
}
.decision-button {
padding: 8px 15px;
background-color: var(--color-primary);
color: white;
border: none;
cursor: pointer;
border-radius: 5px;
margin-left: 5px;
display: none;
}

.decision-button:hover {
background-color: var(--color-primary-animation);
}
.solution-image {
  max-width: 200px;
  max-height: 200px;
  margin-top: 10px;
}
.subtheme-number {
font-weight: bold;
margin-right: 5px;
}
